@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Mulish:wght@400;800;900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1 {
  font-family: 'Mulish', sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 52px;
}

h2 {
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 38px;
}

h3 {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

h5 {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #5c5c5c;
}

body {
  background-color: white;
}

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  left: 50%;
  margin-left: -50%;
  width: 100%;
  height: 64px;
  -webkit-box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.3);
  padding: 5px 20px 5px 20px;
  background-color: white;
}

header #menu {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

header #menu:hover {
  cursor: pointer;
}

header #icon {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

header h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header img {
  height: auto;
  max-width: 100%;
}

.hero {
  display: block;
  height: auto;
  padding-top: 100px;
}

.hero h1, .hero h4, .hero h5 {
  text-align: center;
  margin: 20px 0 20px 0;
}

@media (min-width: 768px) {
  .hero h1 {
    font-size: 53px;
    line-height: 89px;
  }
}

@media (min-width: 1024px) {
  .hero h1, .hero h4, .hero h5 {
    text-align: left;
  }
  .hero a {
    display: inline-block;
    margin: 0 5px 0 0;
  }
}

a {
  text-decoration: none;
  color: #1A73e8;
}

.btn {
  width: 200px;
  height: 50px;
  margin: 16px auto 16px auto;
  padding: 8px 10px 8px 10px;
  text-align: center;
  border-radius: 5px;
}

#signup {
  background-color: #1A73e8;
  color: white;
}

#login {
  background-color: white;
  color: #1A73e8;
  border: 1px solid grey;
}

@media (min-width: 1024px) {
  .odd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .odd img {
    max-height: 500px;
  }
  .odd .text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 1024px) {
  .even {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .even img {
    max-height: 500px;
  }
  .even .text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.triad h3 {
  color: #5F6368;
  margin-bottom: 20px;
}

.last-section {
  text-align: center;
  margin: 100px auto 100px auto;
}

section {
  margin: 0 auto 0 auto;
  height: auto;
  width: 331px;
  padding: 20px;
}

section img {
  display: block;
  margin: 32px auto 32px auto;
  height: auto;
  max-width: 100%;
}

section h2 {
  color: #202124;
  margin-bottom: 20px;
}

section h3 {
  color: #5F6368;
  margin-top: 20px;
}

@media (min-width: 768px) {
  section {
    width: 688px;
    padding: 0 32px 0 32px;
  }
}

@media (min-width: 1024px) {
  section {
    width: 1200px;
  }
}

.footer {
  background-color: #f9fafb;
  width: 100%;
  padding: 32px;
}

.footer ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px 0 0;
}

.footer h4 {
  margin-bottom: 20px;
}

.footer .footer-link {
  margin-top: 100px;
}

.footer h5 {
  display: block;
}

@media (min-width: 768px) {
  .footer .footer-link {
    margin-top: 50px;
    display: inline-block;
    margin: 0 20px 0 0;
  }
}
/*# sourceMappingURL=main.css.map */